
.dashsharable{
  display: flex;
}
.sidenavCont {
  height: 100vh;
  width: 20%;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  border: .5px solid lightgray;
  z-index: 2; 
}


.profile{
    height: 5rem;
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin: 1rem;

}

.ppicture{
    width: 30%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid #C29D59;
}
.namees{
    margin-left: 1rem;
    width: 50%;
    height: 100%;
}

.navLinks{
    height: fit-content;
    width: fit-content;
    padding: auto;
}

#navLinkk {
    display: flex;
    width: 12rem;
    align-items: center;
    margin-bottom: 12px;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0; 
    transition: background-color 0.3s ease;
  }
  
  #navLinkk:hover {
    background-color: #C29D59; 
  }
  
  #navLinkk a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  #a{
    margin-left: 1rem;
  }


.logout{
    height: fit-content;
    width: 96.2%;
    font-size: 2rem;
    display: flex;
    background-color: #C29D59;
    padding: .3rem;
}

/* :::::::::::::::::::::::::header css:::::::::::::::::::::::::::::::::::::::::*/

.dashHeadercont {
  width: 80%;
  margin-left: 20%;
  height: 3rem;
  display: flex;
  color: #666666;
  position: fixed;
  background-color: white;
  margin-top: 0rem;
  z-index: 2; 
}


.greetUser{
 width: 90%;
 height: 100%;
 display: flex;
 justify-content: space-between;
 border-right: #666666 1px solid;
}

.helllo{
  width:30%;
  padding: 0 1rem;

}
.settings{
 margin-top: 1.2rem;
 align-items: center;
 justify-content: center;
 text-align: center;
 font-size: 1.5rem;
 width:10%;

}

.displayMode{
 width: 30%;
 height: 100%;
 display: flex;
}

#disIcon{
 margin: 0 .5rem 0 .5rem;
 font-size: 1.5rem;
}
