.dashquerryCont {
  /* background-color: red; */
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 12rem;
  text-align: center;
  height: 80vh;
  width: 77%;
  margin-top: 25rem;
}
#tittle {
  margin: 2rem;
}
.reply {
  background-color: #c29d59;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: white;
}
