.dashtourContt {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100rem;
  margin: auto;
  text-align: center;
  height: fit-content;
  width: 95%;
  margin-top: 7rem;
}
.dashtourheaderr {
  width: 80%;
  /* top: -200rem; */
  height: fit-content;
  margin-top: -5rem;
  margin-left: 0;
  background-color: white;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.titleeeee {
  width: 45%;
  background-color: white;
  margin: auto;
  margin-left: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.buttonnnnn {
  width: 45%;
  /* background-color: crimson; */
}
.newTour {
  background-color: #c29d59;
  color: white;
  border: none;
  padding: 0.5rem;
  text-align: center;
  margin-top: 0.5rem;
  width: 35%;
  margin-left: 60%;
  margin-bottom: 0.5rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
}

/* DashTours.css */
.tourTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.tourTable th,
.tourTable td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tourTable th {
  background-color: #f2f2f2;
}

.tourTable img {
  width: 50px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.tourTable {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.action {
  display: flex;
  /* gap: 1; */
  margin: 0;
}
/* tr {
  border-bottom: 1rem solid gray;
} */
.editt,
.deletee {
  background-color: white;
  color: #c29d59;
  border: none;
  padding: 10px 20px;
  text-align: center;
  margin-top: 1rem;
  width: fit-content;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}

.deletee {
  background-color: white;
  color: red;
}
