.dashtourCont{
    background-color: white;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    height:100vh; 
    width: 95%;
    margin-top: 7rem;
}
.dashtourheader{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.newTour{
    background-color: #C29D59;
    color: white;
    border: none;
    padding: 1rem ;
    text-align: center;
    margin-top: 1rem;
    width: 7rem;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
}

/* DashTours.css */
.tourTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
  .tourTable th, .tourTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  
  .tourTable th {
    background-color: #f2f2f2;
  }
  
  .tourTable img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .tourTable .action {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .editt, .deletee {
    background-color: #C29D59;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    margin-top: 1rem;
    width: 7rem;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .deletee {
    background-color: #f44336;
  }
  