.dashquerryCont {
  /* background-color: red; */
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 12rem;
  text-align: center;
  height: 80vh;
  width: 77%;
  margin-top: -4rem;
}
#tittle {
  margin: 2rem;
}
.reply {
  background-color: #c29d59;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: white;
}

.paginationBttns {
  color: black;
  width: 80%;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBttns a {
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  border: none;
}
.paginationBttns a:hover {
  color: white;
  background-color: #c29d59;
}

.paginationActive {
  font-weight: bolder;
}
