.dashsharable {
  display: flex;
  width: 100%;
  background-color: aqua;
}
.sidenavCont {
  height: 100%;
  width: 20%;
  background-color: white;
  position: fixed;
  left: 0;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  border: 0.5px solid lightgray;
  z-index: 2;
}

.profile {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 1rem 0rem;
}

.ppicture {
  width: 85%;
  height: 90%;
  border-radius: 100%;
  border: 1px solid #c29d59;
}
.namees {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: fit-content;
  height: 100%;
  /* background-color: aqua; */
}

.navLinks {
  height: fit-content;
  width: fit-content;
  padding: auto;
}

#navLinkk {
  display: flex;
  width: 12rem;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

#navLinkk:hover {
  background-color: #c29d59;
}

#navLinkk a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#a {
  margin-left: 1rem;
}

.logout {
  height: fit-content;
  width: 13rem;
  font-size: 1.5rem;
  display: flex;
  border: none;
  border-radius: 0.5rem;
  background-color: #c29d59;
  padding: 0.3rem;
}
.looog {
  display: flex;
}

.logicon {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* :::::::::::::::::::::::::header css:::::::::::::::::::::::::::::::::::::::::*/

.dashHeadercont {
  width: 87%;
  margin-left: 21.3%;
  height: 3rem;
  display: flex;
  color: #666666;
  margin-right: 0;
  position: fixed;
  background-color: lightgray;
  margin-top: 0rem;
  z-index: 2;
}

.greetUser {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-right: #666666 1px solid;
}

.helllo {
  width: fit-content;
  margin: auto;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.settings {
  margin-top: 1.2rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  width: 10%;
}

.displayMode {
  width: 40%;
  height: 100%;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#disIcon {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.5rem;
}
