.dashtourContt {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  height: fit-content;
  width: 90%;
  margin-top: 7rem;
}
.dashtourheaderr {
  width: 80%;
  height: fit-content;
  margin-top: -3rem;
  margin-left: 0;
  background-color: white;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.titleeeee {
  width: 45%;
  background-color: white;
  margin: auto;
  margin-left: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.buttonnnnn {
  width: 45%;
}
.newTour {
  background-color: #c29d59;
  color: white;
  border: none;
  padding: 0.5rem;
  text-align: center;
  margin-top: 0.5rem;
  width: 35%;
  margin-left: 60%;
  margin-bottom: 0.5rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
}

/* DashTours.css */
.editt,
.deletee {
  background-color: white;
  color: #c29d59;
  border: none;
  padding: 10px 20px;
  text-align: center;
  margin-top: 1rem;
  width: fit-content;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}

.deletee {
  background-color: white;
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: lightgray 2px 2px 5px 5px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.actions {
  display: flex;
  justify-content: space-around;
  height: 3rem;
  border-bottom: none;
}
tr:nth-child(odd) {
  background-color: lightgray;
}
