.updateTourOverlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.updatetourModal {
  background: white;
  margin-top: 3rem;
  border: 1px solid grey;
  max-height: 90vh;
  overflow-y: auto;
  /* padding-bottom: 20px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.closeeButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 20rem;
  border-radius: 5px;
}
.addButton {
  background-color: #c29d59;
  color: white;
  width: 10rem;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.updatetourcont {
  width: 25rem;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.tourField1 {
  margin-bottom: 20px;
}

.tourField1 label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.tourField1 input[type="text"],
.tourField1 select {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tourField1 select {
  cursor: pointer;
}

.tourField1 input[type="file"] {
  width: calc(100% - 20px);
  margin-top: 5px;
}
.combine1 {
  height: fit-content;
  width: 100%;
  display: flex;
}
#inputtourd1 {
  width: 45%;
}
