*{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  background-color: white;
  color: white;
  flex-direction: column;
}

body{
  margin: 0;
  padding: 0;
  width: 100vw;
}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: #2B2B2B;
  color: white;
  padding: 0;
  height: 7rem;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 0;
}

.nav2 {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  padding: 1.5rem 0.5rem;
  position: sticky;
  width: 82%;
  top: 5rem;
  height: 4rem;
  transition: all 0.6s; 
}

.nav2.fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  padding: 1.5rem;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;
  transition: all 0.6s; 
}

#nav2{
  display: flex;
}
.logo{
  width: 60%;
}
.search{
  width: 3rem;
  margin: auto;justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
  margin: 0 1.5rem;
  border-radius: 50%;
  border: 2px solid black;
}

.menu{
  width: fit-content;
  margin: auto;justify-content: center;
  align-items: center;
  display: flex;
  height: fit-content;
  justify-content: center;
  border-radius: 100%;
  background-color: #c29d59;
}

.reserve{
  width: fit-content;
}
.reserveBtn{
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: #C29D59;
  border-radius: .5rem;
  color: white;
  border: none;
}

.part3{
  margin: auto;
  justify-content: space-between;
  margin-right: 3rem;
  align-items: center;
  text-align: center;
  width: 40%;
  gap: 0;
  display: flex;
  float: right;
}



.iconSocial{
color: #C29D59;
font-size: 1.5rem;
margin-right: .5rem;
}

#social{
  align-items: center;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100%;
}

#social:hover{
  background-color: #FFFFFF;
  color: #000000;
}
#social:hover .iconSocial,
#social:hover p {
  color: black;
}
.email{
  width: 50%;
  display: flex;
  border-right: 1px solid white;
}
.phone{
  width: 50%;
}
  
.facebook{
  border-right: 1px solid white;
  width: 15%;
  border-right: 1px solid white;
}
.instagram{
  border-right: 1px solid white;
  width: 15%;
}
.twitter{
  border-right: 1px solid white;
  width: 15%;
}

.social_medias{
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 87.7vw;
  margin-right: 10px;
 
}

.part1{
  padding-left: 4rem;
  width: 50%;
  height: 100%;
  display: flex;
}
.part2{
  height: 100%;
  padding-left: 0rem;
  width: 30%;
  justify-content: flex-end;
  display: flex;
}


  .home_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    top: -6;
    height: 100vh;
    /* z-index: -1; */
    width: 100vw;
    background-color: white;
    color: white;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  
  
  
  
  
  .nextButton {
    background-color: #C29D59;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 2rem;
    transition: all 0.3s;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 0;
    transform: rotate(90deg);
  }
  .prevButton {
    background-color: #C29D59;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 2rem;
    transition: all 0.3s;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    transform: rotate(90deg);
  }

  .othersections{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: white;
    flex-direction: column;
  }

  .navbar{
    display: flex;
  }

  